# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.local

/ai_engine
/web
/Frontend
# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Node
node_modules/

# Build
dist/
build/
